main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: white;
  background-color: black;
  padding-top: 7em;
  gap: 25px;
  padding-bottom: 2em;

  .me {
    border: #59b5e0 7px solid;
    border-radius: 40px;
    height: 320px;
  }

  h1 {
    font-size: 2.5em;
    margin-bottom: 5px;
    color: #76e4cc;
  }

  h3 {
    color: #e45b6d;
    font-size: 1.8em;
    margin-bottom: 5px;
  }

  h5 {
    color: #59b5e0;
    font-size: 1.2em;
    margin-bottom: 5px;
  }

  section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 80vw;
    text-align: justify;
    height: 300px;
    box-shadow: 0px 2px 10px 1px rgb(120, 120, 120);
    border-radius: 20px;

    img {
      height: 100%;
    }
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 60%;
    }

    .skills {
      display: flex;
      flex-direction: row;
      align-items: start;
      justify-content: space-evenly;
      width: 100%;

      div {
        width: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  main {
    padding-top: 5.5em;
    gap: 15px;
    padding-bottom: 2em;

    .me {
      height: 150px;
    }

    h1 {
      font-size: 2em;
    }

    h3 {
      font-size: 1.5em;
      margin-bottom: 5px;
    }

    h5 {
      margin-top: 0;
      margin-bottom: 8px;
      font-size: 1.2em;
    }

    .reverse {
      flex-direction: column-reverse;
    }

    section {
      box-sizing: border-box;
      flex-direction: column;
      justify-content: start;
      width: 95vw;
      height: fit-content;
      padding-bottom: 20px;

      img {
        width: 100%;
        border-radius: 20px 20px 0 0;
      }
      div {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 15px;

        p {
            margin: 0;
          }
      }

      .skills {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-evenly;
        width: 100%;
        padding: 0;

        div {
          width: 100%;
          padding: 0;

          ul {
            padding: 0;
            list-style: none;
            grid-template-columns: repeat(3, 1fr);
            
            li {
              text-align: center;
              padding: 5px 2px;
              border-bottom: #e45b6d47 0.5px solid;
              border-radius: 20px;
            }
          }
        }
      }
    }
  }
}
