<!-- <app-header></app-header> -->
<main>
  <section class="first-section">
    <img src="../../../assets/me.png" alt="" />
    <div class="grid">
      <app-devicon
        src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg"
        alt="Angular"
        text="Angular"
      ></app-devicon>
      <app-devicon
        src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/sass/sass-original.svg"
        alt="Sass"
        text="Sass"
      ></app-devicon>
      <app-devicon
        src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"
        alt="CSS"
        text="CSS"
      ></app-devicon>
      <app-devicon
        src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original-wordmark.svg"
        alt="HTML"
        text="HTML"
      ></app-devicon>
      <app-devicon
        src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/docker/docker-plain-wordmark.svg"
        alt="Docker"
        text="Docker"
      ></app-devicon>
      <app-devicon
        src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"
        alt="Git"
        text="Git"
      ></app-devicon>
      <app-devicon
        src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original-wordmark.svg"
        alt="GitHub"
        text="GitHub"
      ></app-devicon>
      <app-devicon
        src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original-wordmark.svg"
        alt="Java"
        text="Java"
      ></app-devicon>
      <app-devicon
        src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"
        alt="JavaScript"
        text="JavaScript"
      ></app-devicon>
      <app-devicon
        src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original-wordmark.svg"
        alt="MySQL"
        text="MySQL"
      ></app-devicon>
      <app-devicon
        src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original-wordmark.svg"
        alt="React"
        text="React"
      ></app-devicon>
      <app-devicon
        src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/spring/spring-original-wordmark.svg"
        alt="Spring"
        text="Spring"
      ></app-devicon>
      <app-devicon src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/maven/maven-original-wordmark.svg" alt="Maven" text="Maven"></app-devicon>
      <app-devicon
        src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original-wordmark.svg"
        alt="TailwindCSS"
        text="TailwindCSS"
      ></app-devicon>
      <app-devicon
        src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg"
        alt="TypeScript"
        text="TypeScript"
      ></app-devicon>
    </div>
  </section>
  <section class="second-section">
      <h2>J. Leno Borges</h2>
      <h4>
        Desenvolvedor Fullstack com foco nas tecnologias Spring e Angular.
      </h4>
      <p>
        Profissional focado, orientado a resultados e com metas bem definidas
        para a carreira. Apaixonado por tecnologia desde a infância,
        acompanhando ativamente os lançamentos de hardware, software e novas
        tendências do mercado. Iniciei de forma autodidata em lógica de
        programação aos 17 anos com JavaScript, movido por uma curiosidade e
        vontade de aprender. Ativo em comunidades de tecnologia, cultivando um
        networking sólido e uma troca constante de conhecimento. Comprometido
        com a excelência técnica, com alto investimento em cursos e materiais de
        qualidade para acelerar meu desenvolvimento profissional.
      </p>
  </section>
</main>
<app-footer></app-footer>
