main {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  background-color: black;
  gap: 25px;
  padding-top: 6em;

  section {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    height: 40vh;
    min-height: 300px;
    border-radius: 20px;
    padding: 0px 150px;
    width: 80vw;
    background-color: black;
    box-shadow: 0px 2px 10px 1px rgb(120, 120, 120);

    div {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 50%;

      padding: 40px 0;

      h2 {
        color: white;
        font-size: 1.7vw;
      }
      p {
        color: white;
        display: flex;
        align-items: center;
        text-align: justify;
        font-size: 1.1vw;
        line-height: 1.5em;
      }
      .blue {
        color: #59b5e0;
      }
      .pink {
        color: #e45b6d;
      }
      .green {
        color: #76e4cc;
      }
    }
    img {
      display: block;
      width: auto;
      height: auto;
      max-height: 100%;
      width: 33%;
    }
  }
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
    padding: 10px;
    gap: 15px;
    padding-top: 5.5em;

    .reverse {
      flex-direction: column-reverse;
    }

    section {
      flex-direction: column;
      justify-content: start;
      gap: 10px;
      height: fit-content;
      padding: 0px 20px;
      padding-bottom: 10px;
      width: 95vw;

      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: auto;
        padding: 5px 0;

        h2 {
          text-align: center;
          color: white;
          font-size: 1.2em;
        }
        p {
          color: white;
          display: flex;
          align-items: center;
          text-align: justify;
          font-size: 1em;
          line-height: 1.5em;
        }
        .blue {
          color: #59b5e0;
        }
        .pink {
          color: #e45b6d;
        }
        .green {
          color: #76e4cc;
        }
      }
      img {
        display: block;
        width: 100%;
      }
    }
  }
}
