<!-- <app-header></app-header> -->
<main>
  <section class="reverse">
    <div>
      <h2 class="blue">Segurança e escalabilidade</h2>
      <p>
        Soluções digitais com código robusto e otimizado, garantindo a segurança
        de seus dados e a performance ideal. Prepare seu negócio para o sucesso
        contínuo com um projeto escalável, capaz de acompanhar seu crescimento e
        as demandas futuras do mercado
      </p>
    </div>
    <img class="reverse-img" src="../../../assets/Security.jpg" alt="Segurança e escalabilidade" />
  </section>
  <section>
    <img src="../../../assets/Responsividade.png" alt="Responsividade" />
    <div>
      <h2 class="pink">Responsividade e SEO</h2>
      <p>
        Websites e aplicações com design responsivo e otimizado, garantindo uma
        experiência de usuário impecável em qualquer dispositivo: desktop,
        tablet ou celular. Sua marca sempre em destaque e acessível,
        impulsionando seu SEO e o engajamento online.
      </p>
    </div>
  </section>
  <section class="reverse">
    <div>
      <h2 class="green">Suporte de ponta a ponta</h2>
      <p>
        Seu projeto completo, do conceito à nuvem. Ofereço suporte integral,
        desde a concepção do design da sua interface, passando pelo
        desenvolvimento de um código otimizado e seguro, até a hospedagem e
        configuração do seu site ou aplicação. Tenha tranquilidade com um
        serviço completo e focado no seu sucesso online.
      </p>
    </div>
    <img class="reverse-img" src="../../../assets/Suport.png" alt="Do design até a hospedagem" />
  </section>
  <section>
    <img
      src="../../../assets/Flexibility.png"
      alt="Do design até a hospedagem"
    />
    <div>
      <h2 class="pink">Acompanhamento e Flexibilidade</h2>
      <p>
        Comigo, o desenvolvimento do seu projeto é transparente e colaborativo.
        Você acompanha o progresso de perto, com atualizações constantes e a
        possibilidade de solicitar incrementos e ajustes em cada etapa. Sua
        visão é fundamental e integrada ao processo de criação.
      </p>
    </div>
  </section>
</main>
<app-footer></app-footer>
