@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --myBlack: #2b2b33;
  --myBlue: #c0d4f4;
  --myWhite: #dedede;
  --textMedium: 1.9rem;
  --textLarge: 2.21rem;
  --contentSize: 50%;
  --contentWidht: 962px;
  --contentHeight: 747.85px;
}

* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: fit-content;
  background-color: #2b2b33;
  padding: 0%;
  color: var(--myWhite);
  gap: 5rem;
}
.cabecalho {
  padding: 2% 0% 0% 10%;
}
.cabecalho__menu {
  display: flex;
  gap: 80px;
}
.cabecalho__menu__link {
  color: var(--myBlue);
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: var(--textMedium);
}
.cabecalho__menu__link:hover {
  color: var(--myWhite);
}

.apresentacao {
  padding: 0vh 15%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  height: 80vh;
  min-height: 840px;
}

.apresentacao__conteudo {
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  max-width: var(--contentWidht);
  min-width: var(--contentWidht);
  min-height: 747.85px;
}
.apresentacao__conteudo__perfil {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  width: 35%;
  min-width: 630px;
}
.apresentacao__conteudo__titulo {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: var(--contentSize);
  font-family: "Montserrat", sans-serif;
  font-size: var(--textLarge);
  margin-bottom: 1%;
  text-align: justify;
}
.apresentacao__conteudo__titulo__destacar {
  color: var(--myBlue);
  text-align: justify;
}
.apresentacao__conteudo__texto {
  width: var(--contentSize);
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: var(--textMedium);
  margin-bottom: 1rem;
  text-align: justify;
}

.apresentacao__links {
  display: flex;
  flex-direction: column;
  font-size: var(--textMedium);
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}
.apresentacao__links__contatos {
  display: flex;
  gap: 1rem;
  font-family: poppins;
  font-weight: 400;
  font-size: var(--textLarge);
}
.apresentacao__links__link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--myBlack);
  width: 70%;
  text-align: center;
  border-radius: 16px;
  border: 2px solid var(--myBlue);
  font-family: "Poppins", sans-serif;
  font-size: var(--textMedium);
  padding: 0.5rem 3rem;
  text-decoration: none;
  color: var(--myWhite);
  font-weight: semibold;
  gap: 1.4rem;
}
.apresentacao__links__link:hover {
  background-color: black;
  color: var(--myBlue);
}
.apresentacao__links__link__botao {
  width: 4rem;
}
.rodape {
  padding: 20px;
  background-color: var(--myBlue);
  color: var(--myBlack);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: poppins;
  font-size: var(--textMedium);
  font-weight: 500;
}
