@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --myBlack: #2b2b33;
  --myBlue: #c0d4f4;
  --myWhite: #dedede;
  --textMedium: 1.9rem;
  --textLarge: 2.15rem;
  --contentSize: 50%;
  --contentWidht: 962px;
  --contentHeight: 747.85px;
  --margin: 10%;
}

* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  background-color: #2b2b33;
  color: var(--myWhite);
  gap: 5rem;
  height: 100vh;
}
.cabecalho {
  padding: 1% 0% 0% var(--margin);
}
.cabecalho__menu {
  display: flex;
  gap: 5rem;
}
.cabecalho__menu__link {
  color: var(--myBlue);
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: var(--textMedium);
}
.cabecalho__menu__link:hover {
  color: var(--myWhite);
}

.apresentacao {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding: 0% var(--margin) 0% var(--margin);
}

.apresentacao__conteudo {
  width: 100vw;
  display: flex;
  align-items: left;
  flex-direction: column;
  gap: 2rem;
  /* padding-left: var(--margin); */
}
.apresentacao__conteudo__perfil {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* box-sizing: 50%; */
  width: 19%;
  /* height: max-content; */
  /* padding-right: var(--margin); */
  border: 5px solid var(--myBlue);
  border-radius: 16px;
}
.apresentacao__conteudo__titulo {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 80%;
  font-family: "Montserrat", sans-serif;
  font-size: var(--textLarge);
  margin-bottom: 1%;
  text-align: justify;
}
.apresentacao__conteudo__titulo__destacar {
  color: var(--myBlue);
  text-align: justify;
}
.apresentacao__conteudo__texto {
  width: 80%;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: var(--textMedium);
  margin-bottom: 1rem;
  text-align: justify;
}

.rodape {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--myBlue);
  color: var(--myBlack);
  gap: 1rem;
  width: 100%;
  position: relative;
  bottom: 0;
}

.rodape__contatos {
  display: flex;
  flex-direction: column;
  font-size: var(--textMedium);
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}
.rodape__contatos__texto {
  display: flex;
  gap: 1rem;
  font-family: poppins;
  font-weight: 500;
  font-size: var(--textLarge);
  padding-top: 1.5%;
}
.rodape__links {
  display: flex;
  flex-direction: row;
  font-size: var(--textMedium);
  gap: 7vw;
  align-items: center;
  justify-content: space-between;
}
.rodape__links__link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--myBlack);
  width: 70%;
  text-align: center;
  border-radius: 16px;
  border: 5px solid var(--myWhite);
  font-family: "Poppins", sans-serif;
  font-size: var(--textMedium);
  padding: 0.5rem 3vw;
  text-decoration: none;
  color: var(--myWhite);
  font-weight: semibold;
  gap: 0.5rem;
}
.rodape__links__link:hover {
  background-color: black;
  color: var(--myBlue);
}
.rodape__links__link__botao {
  width: 4rem;
}
.rodape__autoria {
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: poppins;
  font-size: 0.8rem;
  font-weight: 500;
  width: 100%;
}

@media (max-aspect-ratio: 1/1) {
  :root {
    --textMedium: 1rem;
    --textLarge: 1.52rem;
  }
  body {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    height: 100vh;
  }
  .cabecalho {
    padding: 1vh 0% 0% var(--margin);
  }
  .cabecalho__menu {
    gap: 2rem;
  }

  .apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 5rem;
  }

  .apresentacao__conteudo {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding-left: 0;
  }
  .apresentacao__conteudo__perfil {
    display: flex;
    align-items: center;
    width: 50%;
    height: fit-content;
    padding-right: 0;
    /* padding-bottom: 20%; */
  }
  .rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--myBlue);
    color: var(--myBlack);
    gap: 1rem;
    width: 100%;
    position: relative;
    bottom: 0;
  }
  .rodape__links {
    display: flex;
    flex-direction: column;
    font-size: var(--textMedium);
    gap: 0.4rem;
    align-items: center;
    justify-content: space-between;
  }
  .rodape__links__contatos {
    font-weight: 400;
    font-size: var(--textLarge);
  }

  .rodape__links__link__botao {
    width: 1.5rem;
  }
  .rodape__links__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25vw;
    border: 0.15rem solid var(--myWhite);
    padding: 0.5rem 3rem;
    gap: 1rem;
  }

}

@media (orientation:landscape) {
  :root {
    --textMedium: 1.5rem;
    --textLarge: 2.15rem;
    --margin: 6%;
  }
  body {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    height: 100vh;
  }
  .cabecalho {
    padding: 1vh 0% 0% var(--margin);
  }
  .cabecalho__menu {
    gap: 2rem;
  }

  .apresentacao {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    height:max-content ;
    padding: 0% var(--margin) 0% var(--margin); 
  }

  .apresentacao__conteudo {
    width: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 2rem;
    padding: 0%;
  }
  .apresentacao__conteudo__titulo{
    padding: 0% 0% 0% 0%;
  }
  .apresentacao__conteudo__perfil {
    display: flex;
    flex-direction: column;
    align-self: start;
    width: 19%;
  }
  .rodape__links__link{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 1rem;
    gap: 1rem;
  }
}