<footer>
  <section>
    <div>
      <h2>Meus Contatos:</h2>
      <a
        mat-raised-button
        color="primary"
        href="https://www.linkedin.com/in/jediaelborges00/"
      >
        LinkedIn
      </a>
      <a
        mat-raised-button
        color="primary"
        href="https://github.com/TheLastJedi00"
      >
        GitHub
      </a>
      <a
        mat-raised-button
        color="primary"
        href="https://wa.me/5547992478232?text=Olá%20Leno,%20vim%20em%20busca%20de%20uma%20das%20soluções%20que%20foram%20apresentadas%20em%20seu%20site"
      >
        WhatsApp
      </a>
      <a
        mat-raised-button
        color="primary"
        href="mailto:jediaelborges23@gmail.com?subject=Contato%20do%20site&body=Olá%20Leno,%20vim%20em%20busca%20de%20uma%20das%20soluções%20que%20foram%20apresentadas%20em%20seu%20site"
      >
        Gmail
      </a>
    </div>
    <img src="../../../assets/Logo.svg" alt="" />
  </section>
</footer>
